:root {
  --jp-size-0: 2px;
  --jp-size-1: 4px;
  --jp-size-2: 8px;
  --jp-size-3: 12px;
  --jp-size-4: 16px;
  --jp-size-5: 20px;
  --jp-size-6: 20px;
  --jp-size-7: 24px;
  --jp-size-8: 28px;
  --jp-size-9: 32px;
}
