name: Build

# suppress warning raised by https://github.com/jupyter/jupyter_core/pull/292
env:
  JUPYTER_PLATFORM_DIRS: '1'

on:
  push:
    branches: main
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Install dependencies
        run: python -m pip install -U jupyterlab~=4.0

      - name: Lint the extension
        run: |
          set -eux
          jlpm install
          jlpm run lint

      - name: Test the extension
        run: |
          set -eux
          jlpm run test
          python -m pip install .[test]
          pytest -vv -r ap --cov jupyter_scheduler

      - name: Build the extension
        run: |
          set -eux
          python -m pip install .

          jupyter server extension list
          jupyter server extension list 2>&1 | grep -ie "jupyter_scheduler.*OK"

          jupyter labextension list
          jupyter labextension list 2>&1 | grep -ie "@jupyterlab/scheduler.*OK"
          python -m jupyterlab.browser_check

      - name: Package the extension
        run: |
          set -eux

          pip install build
          python -m build
          pip uninstall -y "jupyter_scheduler" jupyterlab

      - name: Upload extension packages
        uses: actions/upload-artifact@v2
        with:
          name: extension-artifacts
          path: dist/jupyter_scheduler*
          if-no-files-found: error

  test_isolated:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: 'x64'
      - uses: actions/download-artifact@v2
        with:
          name: extension-artifacts
      - name: Install and Test
        run: |
          set -eux
          pip install "jupyterlab~=4.0" jupyter_scheduler*.whl
          jupyter server extension list
          jupyter server extension list 2>&1 | grep -ie "jupyter_scheduler.*OK"
          jupyter labextension list
          jupyter labextension list 2>&1 | grep -ie "@jupyterlab/scheduler.*OK"
          python -m jupyterlab.browser_check
